body {
	font-family: arial;
	background-image: url("https://img.freepik.com/free-photo/smooth-dark-blue-with-black-vignette-studio-well-use-as-background-business-report-digital-website-template_1258-748.jpg?size=626&ext=jpg");
}

h1,h2,li {
	color: #555;
}

a {
	color: brown;
}

b {
	color:black;
	padding:10px;
}

i {
	opacity : 0;
}

i:hover {
	opacity : 100;
}